body{
  max-width: 960px;
  margin: 10px auto;
  color: rgba(20, 19, 53, 0.84);;
  background-color: rgb(197, 57, 18);;
}
.popup{
  display: none;
  color: rgb(197, 57, 18);;
  background-color: rgba(20, 19, 53, 0.84);;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  left: calc(50% - 200px);
  top: 50%;
}
h1{
 font-family: 'Ruslan Display', cursive;
 font-size: 3em;
 margin-bottom: 0;
}
h2{
  font-family: sans-serif;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 3em;
}
h3{
  font-size: 1.5em;
  margin-top: 0;
}
h4{
  font-family: 'Ruslan Display', cursive;
  font-variant: small-caps;
  font-weight: 600;
}
section{
  width: 30%;
  float: left;
  background-color: rgba(168, 206, 91, 0.26);
  margin: 0 2% 20px 0;
  text-align: center;
}
section p{
  font-size: 1.5em;
  margin-top: 0;
}
main{
  width: 94%;
  clear: both;
  padding-top: 3em;
}
div.row{
  height: 50px;
  display: flex;
  border-bottom: 4px solid rgba(20, 19, 53, 0.84);;
  text-align: center;
  font-size: 2em;
}
div.row:last-child{
  border: none;
}
div.tile{
  width: calc( 100% / 3);
  height: 50px;
  border-left: 4px solid rgba(20, 19, 53, 0.84);;
  color: #FFF;
  font-family: 'Ruslan Display', cursive;
}
div.tile:first-child{
  border-left: none;
}

@media screen and (max-width: 960px){
  section{
    width: 29%;
    margin: 0 2% 20px;
  }
  main, h1, h2{
    margin-left: 2%;
  }
}